@font-face {
  font-family: "WorkSans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.woff2") format("woff2");
}
@font-face {
  font-family: "WorkSans Italic";
  src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "WorkSans";
  color: hsl(292, 42%, 14%);
}
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(275, 100%, 97%);
}
.top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}
.card {
  width: 90%;
  padding: 30px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}
.card #faq-title {
  display: flex;
  text-align: center;
  align-items: center;
}
.card #faq-title #star-icon {
  width: 2em;
  height: 2em;
}
.card #faq-title .heading {
  font-size: 2.5em;
  margin-left: 30px;
}
.card .question {
  cursor: pointer;
  border-bottom: 1px hsl(275, 100%, 97%) solid;
  border-radius: 5px;
}
.card .question div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 19px;
  padding: 30px 0;
}
.card .question div .quest-icon {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.card .answer {
  font-weight: 400;
  display: none;
  color: hsl(292, 16%, 49%);
  position: relative;
  animation-name: answerAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes answerAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .attribution {
  width: 90%;
  position: relative;
  top: 40px;
  font-size: 0.9em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
